.account{
    margin-top: 50px;
    .img-user{
        img{
            height: 250px;
        }
    }
    .infor-user{
        padding: 20px 40px;
        background-color: rgb(243, 243, 243);
    }
}