.home{
    position: relative;
}

    .cart-success-form{
        width: 50%;
    height: 50%;
    background-color: rgba(119, 108, 108, 0.8);
    position: absolute;
    top: 24%;
    left: 34%;
    width: 600px;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap: 30px;
    border-radius: 20px;

    // transition: appear ease-in 5s;
    animation-name: appear;
    animation-duration: 0.7s;
        i{
            font-size: 70px;
            color: rgb(50, 203, 96);
            background-color: #fff;
            border-radius: 50%;
        }
        .cart-text{
        font-size: 30px;
        color:#fff;
        }
    }
    
    @keyframes appear{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }