@mixin input {
  width: 90%;
  border: 1px solid #dddd;
  border-radius: 16px;
  line-height: 45px;
}
.register {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .cover {
    width: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    border-radius: 16px;
    margin-bottom: 50px;
  }
  &__form-register {
    &__input {
      margin-top: 10px;
      width: 100%;
      input {
        @include input();
        padding: 10px 12px;
      }
    }
    &__btn {
      margin-top: 10px;
      width: 100%;
      button {
        @include input();
        background-color: rgb(233, 49, 49);
        color: white;
      }
      button:hover {
        background-color: rgb(231, 74, 74);
      }
    }
  }
}